html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.wrapper {
  max-width: 420px;
  min-height: 500px;
  margin: auto;
}

button {
  font-size: 2rem;
  border: 2px solid #333;
  cursor: pointer;
  border-radius: 100px 100px;
  margin: 2px;
}
.modifiers button {
  background-color: #0bb5bb;
  margin: 2px;
}
.operations button {
  background-color: #09ad74;
  width: 100px;
}
.digits button {
  background-color: #00d636;
}

/* All things Grid, Flexbox, Box Alignment */
.wrapper,
.subgrid {
  display: grid;
}
.wrapper {
  grid-template-areas:
    "total total total total"
    "modif modif modif oper"
    "digit digit digit oper"
    "digit digit digit oper"
    "digit digit digit oper"
    "digit digit digit oper";
  grid-auto-columns: 1fr;
}
.show-input {
  grid-area: total;
  border: 2px solid #333;
  height: 120px;
  border-radius: 10px 40px;
  margin-right: 2px;
  margin-left: 2px;
  margin-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
  background: #efefef;
}
.modifiers {
  grid-area: modif;
}
.operations {
  grid-area: oper;
}
.digits {
  grid-area: digit;
}

.show-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
}

.modifiers {
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.digits {
  display: flex;
  flex-wrap: wrap;
}
.digits button {
  flex: 1 0 26%;
}
